*{
    margin: 0;
    padding: 0;
    border: 0;
}

header {
    background-color: #9e0e29;
    height: 50px;
    /* display: flex;
    justify-content: center;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
    padding: 0%;
    margin: auto; */
}

/*-------Navigation-------*/
#checkbox {
    display: none;
}

#icon {
    font-size: 2rem;
}

nav ul{
    /* background-color: #9e0e29; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
    display: none;
}

nav ul li {
    padding: 3% 0;
    list-style-type: none;
}

nav ul li a{
    font-size: 2rem;
    color: #fff8fd;
}

nav ul li a:hover {
    text-decoration: underline;
}

/*Display nav when checkbox is checked*/

#checkbox:checked ~ ul {
    background-color: #9e0e29;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 0;
}
/* Media Quries*/

@media screen and (min-width: 1024px) {
    #icon {
        display: none;
    }

    nav {
        height: 20px;
        
    }

    nav ul {
        background-color: #9e0e29;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .box-1{
        display: flex;
        padding: 0%;
        margin: auto;
    }
}


/* li{
    float: inline-end;
    border-radius: 10% 10%;
    align-content: space-between;
} */

li a {
    display: block;
    color: black;
    font-family: "Hachi Maru Pop", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 5%;
    padding: 5px 10px;
    text-decoration: none;
    border: 1px;

    
}

li a:hover:not(.active) {
    background-color: #9e0e29;
}

.active {
    background-color: #fff8fd;
}

h2 {
    display: flex;
    justify-content: center;
    font-family: "Hachi Maru Pop", serif;
    background-color: #fff8fd;
   
}

grid-container {
    display: flex;
}

div {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
}

div img {
    width: 100px;
    height: 100px;
    border: 2px solid #9f0f80;
    border-radius: 20px;
    margin: 10px;
    transition: 400ms;
   }

   .box-1 {
    display: flex;
    background-color: #9e0e29;
    height: 30px;
    padding: 0%;
    margin: 0%;
       
   }

